{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>Bienvenue dans l'interface admin</h1>
    <p>Cette interface vous permet de gérer les données de votre site web.</p>
{% endblock %}